html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

// main {
//   min-height: calc(100vh - 517px);
//   overflow: hidden;
// }

.single-nieuws p {
  width: 100% !important;
  max-width: 800px !important;
}