/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    // max-width: 1200px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: #F0F0F0;
        top: 83px;
        bottom: 81px;
        left: 0;
        margin-left: -3px;
    }

    /* timeline-container around content */
    .timeline-container {
        position: relative;
        margin-left: 60px;
        margin-bottom: 20px;
        transform: scale(1.05);
        transition: 0.3s ease-in-out;

        &.in-view {
            transform: scale(1);
            transition: 0.3s ease-in-out;

            &::before {
                left: -63px;
            }
        }
    }
}

/* Place the timeline-container to the right */
.right {
    left: 0;
}

/* Add arrows to the right timeline-container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50%;
    width: 84px;
    background: #F0F0F0;
    height: 1px;
    z-index: 1;
    left: -29px;


    @media (min-width: 1200px) {
        left: -18px;
    }

}

/* Fix the circle for timeline-containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    position: relative;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.circle-roadmap {
    margin-top: -22px;


    &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;

        right: 3px;
        background-color: #F0F0F0;
        top: 104px;


        @media (min-width: 1200px) {
            top: 104px;
        }
    }
}